@charset "UTF-8";

@font-face {
    font-family: 'Old London';
    src: url('font/OldLondon.ttf') format('truetype');
}

:root {
    --title-colour: #BB1414;
    --ligther-colour: hsl(0, 81%, 70%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

header {
    background-image: linear-gradient(0deg, black, dimgray);
}

header img {
    display: block;
    margin: 0px auto;
    padding-top: 20px;
}

header nav {
    padding-top: 40px;
    padding-bottom: 20px;
}

header a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
}

header a:hover {
    background-color: gray;
    transition-duration: 0.2s;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 800px;
    margin: 0px auto 60px auto;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.75);
}

main h1 {
    color: var(--title-colour);
    font: normal 3em 'Old London', serif;
    margin-bottom: 20px;
}


main p {
    text-align: justify;
    line-height: 1.5em;
    margin-bottom: 20px;
}

main img {
    width: 100%;
    margin-bottom: 20px;
}

.video {
    background-color: var(--title-colour);
    margin: 0px -15px 40px -15px;
    padding: 20px;
    position: relative;
    padding-bottom: 56%;
}

.video iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

main h2 {
    color: white;
    background-color: var(--title-colour);
    font: normal 2.5em 'Old London', serif;
    margin: 0px -25px 20px -25px;
    padding: 5px 15px;
    border-radius: 15px 15px 0px 0px;
}

main aside {
    background-color: var(--ligther-colour);
    padding: 0px 25px;
    margin-bottom: 20px;
    border-radius: 15px;
}

footer {
    color: white;
    background-color: black;
    padding: 40px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}