@charset "UTF-8";

@font-face {
    font-family: 'Old London';
    src: url('font/OldLondon.ttf') format('truetype');
}

:root {
    --title-colour: #BB1414;
    --ligther-colour: hsl(0, 81%, 70%);
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: dimgray;
}

/* header */

header div#title {
    background-image: linear-gradient(0deg, black, dimgray);
}

header img {
    display: block;
    margin: auto;
    padding: 20px 0px;
}

header span#hamburger {
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    padding: 15px;
    cursor: pointer;
}   

header ul {
    display: none;
    background-color: black;
}

header a {
    display: block;
    color: white;
    background-color: black;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-top: 1px solid rgb(25, 25, 25);
    padding: 20px;
}

header a:hover {
    background-color: rgb(50, 50, 50);
    transition-duration: 0.2s;
}

/* main */

main {
    background-color: white;
    min-width: 300px;
    max-width: 600px;
    margin: 0px auto 60px auto;
    padding: 15px;
    border-radius: 0px 0px 15px 15px;
}

main h1 {
    color: var(--title-colour);
    font: normal 2.5em 'Old London', serif;
    margin-bottom: 20px;
}


main p {
    text-align: justify;
    text-indent: 1.25cm;
    line-height: 1.5em;
    margin-bottom: 20px;
}

main img {
    width: 100%;
    margin-bottom: 20px;
}

.video {
    background-color: var(--title-colour);
    margin: 0px -15px 40px -15px;
    padding: 20px;
    position: relative;
    padding-bottom: 56.5%;
}

.video iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 90%;
    height: 90%;
    transform: translate(-50%, -50%);
}

main div#aside-title {
    background-color: var(--title-colour);
    border-radius: 15px 15px 0px 0px;
    margin: 0px -25px 20px -25px;
    padding: 5px 15px;
}

main h2 {
    color: white;
    background-color: var(--title-colour);
    font: normal 2em 'Old London', serif;
}

main aside {
    background-color: var(--ligther-colour);
    padding: 0px 25px;
    margin-bottom: 20px;
    border-radius: 15px;
}

/* footer */

footer {
    color: white;
    background-color: black;
    padding: 40px;
    text-align: center;
}

footer a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

footer a:hover {
    text-decoration: underline;
}